.card {
  border: 2px solid;
  width: 150px;
  height: 150px;
  margin: 20px;
  position: relative;
  transition: all .2s ease-in-out;
}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  background:white;
}

.card > .img-container > img {
  height: 100%;
}

.card:hover {
  transform: scale(1.3)
}